body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fm-sans: "Noto Sans", sans-serif;
  --white: #ffffff;
  --blue: #4b7be5;
  --purple: #a85cf9;
  --cold: #5534a5;
  --teal: #6fdfdf;

  font-family: var(--fm-sans);
  background-color: var(--cold);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
